.row {
    display: flex;
  }
  
  /* Create three equal columns that sits next to each other */
  .column {
    flex: 45%;
    padding: 0px;
    position: relative;
  
    width: 1400px;
    
    height: 333px;
    
    overflow: hidden;
    }
    .column img {
      animation: MoveLeftRight 8s linear infinite;
      position: absolute;
      top: 0;
      right: 0;
    }
    /*
    @keyframes MoveLeftRight {
      0%, 100% {
        right: 0;
      }
      50% {
        right: -100%;
      }
    }
    
    
    */
    
    
    /* Safari 4.0 - 8.0 */
    @-webkit-keyframes MoveLeftRight {
      from {left: 500px;}
      to {left: 0px;}
    }
    
    @keyframes MoveLeftRight {
      from {left: 500px;}
      to {left: -800px;}
    }
  }

  #hp  {
    float: right;    
     margin: 0 0 0 0 px;
      position: relative;
  
  width: 1400px;
  
  height: 333px;
  
  overflow: hidden;
  }
  


   .container0 {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
grid-auto-rows: minmax(250px, auto);
gap: 50px;
width: 90%;
        max-width: 900px;
margin: 4em auto;
font-family:'Bely';
  font-size: 20px;
}

.container {
    border-radius: 10px;
            padding: 100px 30px;
            border: 6px solid #51E0FF;   
}

.container1 {
    border-radius: 10px;
            padding:100px 30px;
            border: 6px solid #51E0FF;
            
}

.container2 {
    border-radius: 10px;
            padding: 100px 30px;
            border: 6px solid #51E0FF;
                
}
